<h1>zookeeper!</h1>

<p>Welcome to your new favorite toy, an online zoo where you can collect your favorite animals, extinct and still living!<br>
To get started, click on the "add new animal" link above!</p>